@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto-Regular.ttf);
}
@font-face {
  font-family: Oswald;
  src: url(../fonts/Oswald-VariableFont_wght.ttf);
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  scroll-behavior: smooth;
  font-family: Roboto, sans-serif;
}

body {
  position: relative;
}

#toTop {
  display: none;
  position: fixed;
  bottom: 25px;
  right: 25px;
  background-color: #72038a;
  width: 60px;
  height: 60px;
  z-index: 10;
  line-height: 60px;
  text-align: center;
  border-radius: 10px;
}
#toTop a {
  font-size: 2rem;
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-family: Oswald;
}

.nav {
  width: 100%;
  align-items: center;
  background-color: #fff;
  display: flex;
  height: 100px;
  justify-content: space-around;
  position: fixed;
  top: 30px;
  z-index: 1000;
}
@media screen and (max-width: 768px) {
  .nav {
    height: auto;
    padding: 10px 0px;
    flex-direction: column;
    gap: 20px;
    position: initial;
  }
}
.nav .icon {
  display: none;
}
@media screen and (max-width: 768px) {
  .nav .icon {
    display: block;
    position: absolute;
    left: 30px;
    top: 55px;
  }
  .nav .icon i {
    color: black;
    font-size: 2rem;
  }
}
.nav__logo {
  background-image: url(../img/logo.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 95px;
  width: 95px;
}
.nav__enlaces {
  align-items: center;
  display: flex;
  gap: 20px;
  height: 100%;
  justify-content: space-around;
  max-width: 400px;
}
@media screen and (max-width: 768px) {
  .nav__enlaces {
    opacity: 0;
    visibility: hidden;
    transition: visibility 0s, opacity 0.5s linear;
    flex-direction: column;
    height: 0;
  }
}
.nav__enlaces--mostrar {
  height: 100%;
  opacity: 1;
  visibility: visible;
}
.nav__enlaces__boton {
  padding: 0 15px;
  background-color: rgba(226, 226, 226, 0.25);
  border: 2px solid #e2e2e2;
  font-size: 1.2rem;
  font-weight: 500;
  color: #000;
  flex: 1;
  height: 50px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  box-shadow: 2px 2px 5px rgba(0, 36, 108, 0.3);
  border-radius: 10px 0px;
}
@media screen and (max-width: 768px) {
  .nav__enlaces__boton {
    padding: 0 5px;
  }
}
.nav__enlaces__boton:hover {
  transition: all ease 300ms;
  transform: scale(1.05);
  background-color: rgba(226, 226, 226, 0.5);
}
.nav__enlaces__boton:active {
  transition: transform ease 100ms;
  transform: scale(0.98);
}
.nav--oscura {
  border-bottom: 3px solid black;
}

img {
  display: block;
  max-width: 100%;
}

.header {
  max-height: 100vh;
  width: 100%;
  position: relative;
  margin-bottom: 40px;
}
.header__fecha {
  bottom: 0;
  height: auto;
  max-width: 40%;
  position: absolute;
  right: 0;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .header__fecha {
    max-width: 65%;
  }
}

.symbol-target {
  padding-top: 100px;
  margin-top: -100px;
  width: 1px;
  display: inline-block;
}

.main {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, minmax(200px, 1fr));
  grid-auto-rows: 300px;
  row-gap: 40px;
}
@media screen and (max-width: 768px) {
  .main {
    max-width: 1000px;
    grid-template-columns: minmax(0px, 1fr);
    grid-template-rows: 350px;
    row-gap: 0px;
    grid-auto-rows: 200px;
  }
  .main .main__icono--reto {
    grid-row: 3/4;
  }
  .main .main__icono--comparte {
    grid-row: 7/8;
  }
}
.main__apuntate {
  grid-column: 1/-1;
  text-align: center;
}
.main__apuntate p {
  font-family: Oswald;
  color: #00246c;
  font-size: 4rem;
  margin-bottom: 40px;
}
@media screen and (max-width: 768px) {
  .main__apuntate p {
    font-size: 3rem;
  }
}
.main__apuntate a {
  text-decoration: none;
  background-color: #72038a;
  color: #fff;
  font-size: 2rem;
  padding: 15px 50px;
  border-radius: 10px;
  max-width: 250px;
  margin: 0 auto;
  display: block;
}
.main__apuntate a:hover {
  transition: all ease 300ms;
  transform: scale(1.05);
}
.main__apuntate a:active {
  transition: all linear 50ms;
  transform: scale(0.98);
}
.main__texto {
  color: #00246c;
  font-family: Oswald;
  align-self: center;
  text-align: center;
  font-size: 1.5rem;
}
.main__texto h3 {
  font-weight: 700;
  margin-bottom: 40px;
}
.main__icono {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}
.main__icono--reto {
  background-image: url(../img/reto.webp);
}
.main__icono--aprende {
  background-image: url(../img/aprende.webp);
}
.main__icono--comparte {
  background-image: url(../img/comparte.png);
}
.main__icono--premio {
  background-image: url(../img/premio.webp);
}
.main__almuerzo, .main__organiza {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  grid-column: 1/-1;
}
.main__almuerzo {
  background-image: url(../img/almuerzo.png);
}
.main__organiza {
  background-image: url(../img/organiza.png);
  background-position: center center;
  display: flex;
  justify-content: center;
  gap: 80px;
}
@media all and (max-width: 768px) {
  .main__organiza {
    gap: 40px;
  }
}
.main__organiza .redes {
  font-size: 3rem;
}
.main__organiza .redes a {
  text-decoration: none;
  color: #4267B2;
}
.main__organiza .redes a:active {
  color: #4267B2;
}

.fa-instagram {
  color: transparent;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
  -webkit-background-clip: text;
          background-clip: text;
}

.fa-twitter {
  color: #00acee;
}

.fa-map-marker-alt {
  color: red;
}

.footer--grid {
  padding: 20px;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(2, minmax(0px, 1fr));
  grid-template-rows: 30px;
  grid-auto-rows: 100px;
}
.footer--grid h3 {
  grid-column: 1/-1;
}
@media screen and (max-width: 768px) {
  .footer--grid * {
    text-align: center;
    background-position: center;
  }
}

.footer {
  max-width: 1500px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 2fr repeat(3, minmax(100px, 1fr));
}
@media screen and (max-width: 768px) {
  .footer {
    grid-template-columns: 1fr;
  }
}
.footer__organizan {
  border-right: 2px solid #e2e2e2;
}
@media screen and (max-width: 768px) {
  .footer__organizan {
    border-right: none;
  }
}
.footer__organizan--utrera {
  background-image: url("../img/aytutrera.png");
  background-repeat: no-repeat;
  background-size: contain;
}
.footer__organizan--ponce {
  background-image: url("../img/iesponce.png");
  background-repeat: no-repeat;
  background-size: contain;
}
.footer__organizan--junta {
  background-image: url("../img/junta.png");
  background-repeat: no-repeat;
  background-size: contain;
  grid-column: 1/-1;
}
.footer__gestionan {
  border-right: 2px solid #e2e2e2;
}
@media screen and (max-width: 768px) {
  .footer__gestionan {
    border-right: none;
  }
}
.footer__gestionan--cade {
  background-image: url("../img/cade.png");
  background-repeat: no-repeat;
  background-size: contain;
  grid-column: 1/-1;
}
.footer__gestionan--ponce {
  background-image: url("../img/iesponce2.png");
  background-repeat: no-repeat;
  background-size: contain;
  grid-column: 1/-1;
}
.footer__colaboran {
  border-right: 2px solid #e2e2e2;
}
@media screen and (max-width: 768px) {
  .footer__colaboran {
    border-right: none;
  }
}
.footer__colaboran--diego {
  background-image: url("../img/diego.png");
  background-repeat: no-repeat;
  background-size: contain;
  grid-column: 1/-1;
}
.footer__colaboran--mocaibo {
  background-image: url("../img/mocaibo.png");
  background-repeat: no-repeat;
  background-size: contain;
  grid-column: 1/-1;
}
.footer__inscripciones--qr {
  background-image: url("../img/qr.png");
  background-repeat: no-repeat;
  background-size: contain;
  grid-column: 1/-1;
  grid-row: 2/4;
}
.footer__alumnado {
  height: 50px;
  line-height: 50px;
  text-align: center;
  grid-column: 1/-1;
  font-size: 1.2rem;
  border-top: 2px solid #e2e2e2;
  width: 100%;
}
/*# sourceMappingURL=styles.css.map */